.demo_about {
    border-top: 0.2rem solid #CCC591;
    /* border-bottom: 0.2rem solid #CCC591; */
    color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0;
}

.demo_about_text {
    font-size: 1.3rem;
    font-weight: lighter;
}

.demo_about--button {
	padding: 1rem;
    background-color: #8E2E08;
    width: 80vw;
    border: 0.5rem solid #8E2E08;
    margin-top: 1.5rem;
}

.btnDemoAbout a {
	color: seashell;
	text-decoration: none;
}

.demo_about--button a {
    list-style: none;
    text-decoration: none;
    color: #CCC591;
    font-size: 1.3rem;
}
