.form {
	background-color: #283655;
	margin: 5% 20%;
	padding-left: 8%;
	padding-top: 5%;
	height: 100%;
	padding-bottom: 5%;
	display: flex;
	justify-content: center;
	background-image: url('../../assets/Pictures/backgroundform.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: 2px 2px 2px black;
	border-radius: 10%;
	border: 5px solid #fafafa;
}

.btn {
	margin-left: 2px;
}
