.form {
    margin: 0rem;
    color: #8E2E08;
    font-size: 1.2rem;
    border: 0.5rem solid #8E2E08;
}

.form placeholder {
    align-self: center;
}

.input-header {
    text-align: center;
    border-top: 0.4rem solid #CCC591;
    border-bottom: 0.4rem solid #CCC591;
    margin: 1rem 0;
    padding: 1rem;
    font-weight: bold;
}

.input-star {
    text-align: center;
}