.linkContainer {
    text-align: center;
    margin: 3rem 1rem;
    margin-bottom: 0;
    padding: 2rem;
    border-top: 0.2rem solid #CCC591;
    color: #29211F;
}

.linkContainer h1 {
    padding-bottom: 1.5rem;;
}

