.App
	{
		text-align: center;
		background-image: url('../../assets/Pictures/Landscape1.jpg');
		background-size: cover;
		/*height: 1000px;*/
		margin: 0;
		padding: 2% 0; /*vertical horizontal*/
		color: #fafafa;
	}


