.logo {
    margin: 0;
    padding: 0;
    left: 0rem;
    top: 1rem;
    position: relative;
    display: block;
    z-index: 12;
    overflow: hidden;
    z-index: 1002;
}

@media (min-width: 840px) {
    .logo {
        position: fixed;
        top: 1rem;
        left: 2rem;        
    }
}
