.logo {
    z-index: 11;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* position: fixed;  */
    left: 1rem;
    top: 1rem;
    position: relative;
    display: block;
	z-index: 12;
}

@media (min-width: 840px) {
    .logo {
        position: fixed;
        top: 1rem;
        left: 2rem;        
    }
}

