
	@font-face {
	font-family: 'Conv_Mipgost';
	src: url('../../../assets/fonts/Mipgost/fonts/Mipgost.woff') format('woff');
	/*src: local('☺'), url('fonts/Mipgost.woff') format('woff'), url('fonts/Mipgost.ttf') format('truetype'), url('fonts/Mipgost.svg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}

.Button {
	/*cursor: not-allowed;*/
	margin-top: 5%;
	width: 20%;
	padding: 3% 5%;
	background-color: #283655;
	background-size: 100%;
	padding: 7 5%;
	border: none;
	border-radius: 10%;
};

.demo_about--button {
    background-color: #8E2E08;
}

	
