.nav {
    display: block;
    visibility: hidden;
    width: 100vw;
    height: 10vh;
    background: transparent;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1002;
    position: fixed;
    box-sizing: border-box;
}

ul {
    margin: 0 0;
    padding: 1rem 1rem;
    text-align: center;
}

li {
    display: inline-block;    
}

li a {
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: #CCC591;
    margin: 0;
    padding: 0.5rem 2rem;
    vertical-align: middle;
}

li a:hover,
li a:active {
    /* border-bottom: 1rem solid #8E2E08; */
    color: #8E2E08;
}

.four {
    background-color: #8E2E08;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}

.four:hover,
.four:active {
    background-color: #CCC591;
    color: #8E2E08;
    border: none;
}

@media (min-width: 840px) {
    .nav {
        visibility: visible;
    }
}